/* Definição de fontes */
@font-face {
    font-family: "Unbounded";
    src: url(../fontes/Unbounded/Unbounded-VariableFont_wght.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url(../fontes/Poppins/) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    background-color: ;

}

/* estilo Desktop */

body {
    background-color: #0E1014;
    color: #ffffff;
}

header img {
    display: block;
    margin: 75px 0 0 360px;
}

h1 {
    font-size: 80px;
    font-family: "Unbounded";
    text-align: center;
    margin-top: 60px;
}



h1 span {
    color: #9747FF;
}

p {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    text-align: center;
    width: 792px;
    margin: 24px auto 0;
}


a {
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    text-decoration: none;
    background-color: #9747FF;
    width: 340px;
    height: 66px;
    display: block;
    line-height: 66px;
    text-align: center;
    border-radius: 36px;
    margin: 40px auto;

}

a:hover {
    background-color: #8233E8;
}

section img {
    display: block;
    width: 792px;
    height: 446px;
    margin: 0 auto;
}

@media(max-width:768px) {

    header img {
        
        margin: 65px 0 0 60px;
    }

    p {
        width: 648px;
    }

    section img {
        width: 659px;
        height: 496px;
    }
}

@media(max-width: 375px) {
    header img {
        margin: 32px 0 0 16px;
    }

    h1 {
        font-size: 40px;
    }

    p {
        font-size: 20px;
        width: 340px;
    }

    a {
        width: 251px;
        height: 66px;
        font-size: 20px;
    }

    section img {
        width: 340px;
        height: 230px;
    }
}